<p id="notice"><%= notice %></p>


<div>
  <%= link_to 'New Artist', new_artist_path %>
</div>
  
    <% @artists.each do |artist| %>

      <div class="artist">

        <div class="image">
          <%= image_tag artist.photo_url, size: "200x200" %>
        </div>

        <div class="footer" >
          <%= artist.name %>
        </div>

      </div>      
        
      
    <% end %>
 



