// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.artist{
	float:left;
	padding: 10px;
	

	.image{
	  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	  margin-bottom: 10px;

	  &:hover {
		cursor: pointer;
		border: thick solid orange;
	  }
	}

	.footer{
		color:orange;
	}
}

