<!DOCTYPE html>
<html>
<head>
  <title>Albums</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		Album Organizer 3000
	</div>

<%= yield %>

</body>
</html>
